---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% unless page.header.overlay_color or page.header.overlay_image %}
  {% include page-banner.html page=page kicker=page.kicker lede=page.lede %}
{% endunless %}

{% assign has_sidebar = false %}
{% if page.author_profile or layout.author_profile or page.sidebar %}{% assign has_sidebar = true %}{% endif %}

<div id="main" role="main"{% unless has_sidebar %} class="is-narrow"{% endunless %}>
  {% include sidebar.html %}

  <div class="archive">
    {{ content }}
  </div>
</div>
